h1 { 
text-align: center;
}

h3 { 
text-align: center;
}

body {
  background: #bff9ff;
}

img {
  display: block;
  margin: 0 auto;
  transform: scale(1)
}

p {
  font-size: 1.4rem;
  margin: 5rem;
  text-align: center;
  
 }



footer {
  align-items: center;
  background: #222;
  color: white;
  display: flex;
  grid-area: footer;
  justify-content: center;
  margin: 2rem;
 
}